/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/

  @font-face {
    font-family: 'virgo_01regular';
    src: url('virgo-webfont.eot');
    src: url('virgo-webfont.eot?#iefix') format('embedded-opentype'),
         url('virgo-webfont.woff2') format('woff2'),
         url('virgo-webfont.woff') format('woff'),
         url('virgo-webfont.ttf') format('truetype'),
         url('virgo-webfont.svg#virgo_01regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  h3,h2{font-family: 'virgo_01regular';}
  
  li{
    list-style-type: none;
  }
  
  

  
  h3{
    margin: 0 0 10% 0;
  }
  
main{
  display: flex;
  color: #111;
}

  body{
    /* background-image: url('../img/background-technology-desktop.jpg'); */
    font-family: 'virgo_01regular';
    COLOR:BLACK;
    overflow: hidden;
    /* background-image: linear-gradient( 99.9deg, rgba(27,24,31,1) 21.2%, rgb(82, 89, 218) 84.8% ); */
    background-color: #eeeeee;
  }
  
  H1{
    font-size: 5REM;
  }

.generatedimg {
  margin: 4rem;
  max-width: fit-content;
  max-height: fit-content;
  width: 900px; /* Set the desired width */
  height: 900px; /* Set the desired height */
  object-fit: cover; 
}


iframe{
  WIDTH:70%;
  HEIGHT:50%;
  margin: 0;
}

.LEFT{
  margin-right: 1rem
}

  .card-container{
    display:flex;
    height:auto;
    justify-content:center;
    text-align: center;
    margin-top: 4rem;
    margin-right: 4rem;
    margin-left: -8rem;
  }

  .card{
    width: 100%;
    max-width: 1000PX;
    padding: 0rem 4rem;
    border-radius: 1REM;
    border:1PX SOLID transparent;

    backdrop-filter: blur(1rem);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);  
    border-top-color: rgba(255,255,255, 0.5);
    border-left-color: rgba(255,255,255, 0.5);
    border-bottom-color: rgba(255,255,255, 0.1);
    border-right-color: rgba(255,255,255, 0.1);
    COLOR:BLACK;
    
    line-height: 1;
    font-size: 1rem;
  
    /* margin-right: 20px; */
  }

 .card-text{
  /* max-height: fit-content; */
  /* font-size: smaller; */
 }

  
  .cb1{
    /* background-color: rgba(255,255,255, .1); */
    background: linear-gradient(to right bottom, rgba(225,255,255,.5), rgba(225,225,225,0.3));
    font-family: 'virgo_01regular',;
  }


  /* Date input styling */
  input[type="date"]{

    border: 0;
    border-radius: 30px;

    background-color: #111; 
    outline:none;
    font-size: 30PX;
    color:white;
    display: inline-block;
    border-radius: 30px;
    padding: 12px 32px;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    cursor: pointer;


    margin-bottom: 3rem;
  }
  
  input[type="date"]:hover{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
    background-color: #f8f8f8;
    color: #111;
  
  }
  
  
  /* button STYLING */
  
  .space-button {
    display: inline-block;
    background-color: #111;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 12px 32px;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
  }
  
  .space-button span {
    position: relative;
    z-index: 1;
  }
  
  .space-button svg {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    fill: #fff;
    transition: transform 0.3s ease;
  }
  
  .space-button:hover {
    background-color: #f8f8f8;
    color: #111;
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  .space-button:hover svg {
    transform: translateX(4px);
  }
  
  .space-button:active {
    background-color: #FF4F00;
    color: #fff;
    transform: translateY(-1px);
  }

  .cosmos {
    margin-top: 3rem;
  }